data/geolife/Geolife Trajectories 1.3.zip
data/embedding_graph_dynamic_poi_1024.npy
*.pth
*.plt
*.npy
*.txt
feature_learning/bert/data/Geolife.zip
feature_learning/bert/data/Geolife/embeddings_256.npy
/preprocess/Geolife/processed/
/preprocess/CDR/processed/
/feature_learning/bert/data/gnn/
dataset/traj/e2dtc/embed_256_bert50.pt
dataset/traj/e2dtc/embed_256_epoch_150.pt
feature_learning/bert/data/E2DTC/embed_256_bert50.pt
feature_learning/bert/data/E2DTC/embed_256_epoch_150.pt
dataset/tmp.py
preprocess/CDR/test.py
dataset/gnn/geolife_e2dtcF_bert_1107/bert_context_19_0.9469.pt
dataset/gnn/geolife_e2dtcF_bert_1107/processed/data.pt
/data/filtered/
/data/geolife/
/data/gnn/
/data/traj/
preprocess/CDR/train_traj_5.h5
preprocess/CDR/test_traj_5.h5
feature_learning/bert/data/Geolife/all_traj_labeled_σ_0.8_λ_0.6.h5
feature_learning/bert/data/E2DTC/label.h5
feature_learning/bert/data/E2DTC/data.h5
dataset/traj/e2dtcF/trj_vocab_filtered.h5
dataset/traj/e2dtcF/data.h5
dataset/traj/e2dtc/label.h5
dataset/traj/e2dtc/data.h5
data/trj_vocab_filtered.h5
data/trj_vocab_cdr.h5