
data/geolife/Geolife Trajectories 1.3.zip
*.h5
data/embedding_graph_dynamic_poi_1024.npy
*.pth
*.plt
*.txt
*.trg
*.src
*.mta
*.npy
feature_learning/bert/data/Geolife.zip
/preprocess/Geolife/processed/
/preprocess/CDR/processed/
